<div class="author">
    <h1 class="author_heading">Hi, I am Vardhan.</h1>
    <p class="author_body">WebDeveloper and football content collector</p>
</div>

<img src="/img/cr71.jpg" alt="person looking out through window" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles_heading">Latest posts</h2>

    <ul class="article_ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list_date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; Veiw Older Posts</a>
</section>

